<div class="container page-center">
	<div class="row" style="padding-bottom:8px;">
		<div class="col-xs-6 col-md-4 col-md-offset-4">
				<button class="new-note-wrapper btn accent-color-background white" ng-click="newPost()">
					New Note
				</button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-md-4">

			<div class="post-list-wrapper">
				<div class="post-header primary-color500 white-background">All notes</div>
				<div class="post-list">
					<ul class="list-group post-group">
						<li ng-repeat='x in posts track by $index' class="list-group-item post-group-item" style="padding-bottom:16px;padding-top:16px;">
							<div class="list-item" ng-click='setPost(x)'>
								{{x.title}} <br>
								{{x.content | strLimit: 50 }} 
								<br>
							
								<span id="post-trash-icon" style="padding-top:8px" class="glyphicon glyphicon-trash accent-color" ng-click='delete(x,$index)'></span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-xs-6 col-md-8">
			<div class="post-content" ng-include="'views/post-content.html'"></div>
		</div>
	</div> <!-- ./row -->
</div>
