<div class="container-fluid post-container" >
	<div class="row">
		<div class="col-xs-6 col-md-4">
			<div class="post-header">
				Posts <button class="btn btn-default" style="float:right;"><span class="glyphicon glyphicon-pencil" ng-click='newPost()' ></span></button>
			</div>
		</div>
	</div>
	<div class="row" style="height:100%">
		<div class="col-xs-6 col-md-4" style="height:100%">
			<div class="post-list">
				<ul class="list-group post-group">
					<li ng-repeat='x in posts track by $index' class="list-group-item post-group-item" style="padding-bottom:16px;padding-top:16px;">
						<a ng-click='setPost(x)' >{{x.title}}</a>
					</li>
				</ul>
			</div>

		</div>
		<div class="col-xs-6 col-md-8 full-height">
			<div class="full-height" ng-include="'views/post-content.html'"></div>
		</div>
	</div>

</div>