.primary-color500{
	color : #683AB7 !important;
}

.primary-color500-background{
	background-color : #683AB7 !important;
}

.primary-color-light{
	color: #AD89ED;
}

.primary-color-50{
	color: #CCB1FB;
}

.accent-color{
	color:#9E2FB2;
}

.accent-color-background{
	background-color: #9E2FB2;
}
.accent-color-light{
	color:#DC80EC;
}

.white{
	color:#FFFFFF;
}
.white-background{
	background-color:#FFFFFF;
}
